
div.palette--1 { 
    background-image: url("../images/pal-color--1.png");
}

        
div.palette-9999 { 
    background-image: url("../images/pal-color-9999.png");
}

        
div.palette-1 { 
    background-image: url("../images/pal-color-1.png");
}

        
div.palette-2 { 
    background-image: url("../images/pal-color-2.png");
}

        
div.palette-3 { 
    background-image: url("../images/pal-color-3.png");
}

        
div.palette-36 { 
    background-image: url("../images/pal-color-36.png");
}

        
div.palette-5 { 
    background-image: url("../images/pal-color-5.png");
}

        
div.palette-1056 { 
    background-image: url("../images/pal-color-1056.png");
}

        
div.palette-7 { 
    background-image: url("../images/pal-color-7.png");
}

        
div.palette-8 { 
    background-image: url("../images/pal-color-8.png");
}

        
div.palette-9 { 
    background-image: url("../images/pal-color-9.png");
}

        
div.palette-10 { 
    background-image: url("../images/pal-color-10.png");
}

        
div.palette-11 { 
    background-image: url("../images/pal-color-11.png");
}

        
div.palette-12 { 
    background-image: url("../images/pal-color-12.png");
}

        
div.palette-13 { 
    background-image: url("../images/pal-color-13.png");
}

        
div.palette-14 { 
    background-image: url("../images/pal-color-14.png");
}

        
div.palette-1039 { 
    background-image: url("../images/pal-color-1039.png");
}

        
div.palette-17 { 
    background-image: url("../images/pal-color-17.png");
}

        
div.palette-18 { 
    background-image: url("../images/pal-color-18.png");
}

        
div.palette-19 { 
    background-image: url("../images/pal-color-19.png");
}

        
div.palette-20 { 
    background-image: url("../images/pal-color-20.png");
}

        
div.palette-21 { 
    background-image: url("../images/pal-color-21.png");
}

        
div.palette-22 { 
    background-image: url("../images/pal-color-22.png");
}

        
div.palette-23 { 
    background-image: url("../images/pal-color-23.png");
}

        
div.palette-25 { 
    background-image: url("../images/pal-color-25.png");
}

        
div.palette-26 { 
    background-image: url("../images/pal-color-26.png");
}

        
div.palette-27 { 
    background-image: url("../images/pal-color-27.png");
}

        
div.palette-28 { 
    background-image: url("../images/pal-color-28.png");
}

        
div.palette-230 { 
    background-image: url("../images/pal-color-230.png");
}

        
div.palette-30 { 
    background-image: url("../images/pal-color-30.png");
}

        
div.palette-31 { 
    background-image: url("../images/pal-color-31.png");
}

        
div.palette-40 { 
    background-image: url("../images/pal-color-40.png");
}

        
div.palette-33 { 
    background-image: url("../images/pal-color-33.png");
}

        
div.palette-34 { 
    background-image: url("../images/pal-color-34.png");
}

        
div.palette-120 { 
    background-image: url("../images/pal-color-120.png");
}

        
div.palette-36 { 
    background-image: url("../images/pal-color-36.png");
}

        
div.palette-40 { 
    background-image: url("../images/pal-color-40.png");
}

        
div.palette-41 { 
    background-image: url("../images/pal-color-41.png");
}

        
div.palette-42 { 
    background-image: url("../images/pal-color-42.png");
}

        
div.palette-43 { 
    background-image: url("../images/pal-color-43.png");
}

        
div.palette-114 { 
    background-image: url("../images/pal-color-114.png");
}

        
div.palette-46 { 
    background-image: url("../images/pal-color-46.png");
}

        
div.palette-1055 { 
    background-image: url("../images/pal-color-1055.png");
}

        
div.palette-129 { 
    background-image: url("../images/pal-color-129.png");
}

        
div.palette-54 { 
    background-image: url("../images/pal-color-54.png");
}

        
div.palette-57 { 
    background-image: url("../images/pal-color-57.png");
}

        
div.palette-60 { 
    background-image: url("../images/pal-color-60.png");
}

        
div.palette-61 { 
    background-image: url("../images/pal-color-61.png");
}

        
div.palette-62 { 
    background-image: url("../images/pal-color-62.png");
}

        
div.palette-63 { 
    background-image: url("../images/pal-color-63.png");
}

        
div.palette-64 { 
    background-image: url("../images/pal-color-64.png");
}

        
div.palette-68 { 
    background-image: url("../images/pal-color-68.png");
}

        
div.palette-69 { 
    background-image: url("../images/pal-color-69.png");
}

        
div.palette-70 { 
    background-image: url("../images/pal-color-70.png");
}

        
div.palette-71 { 
    background-image: url("../images/pal-color-71.png");
}

        
div.palette-76 { 
    background-image: url("../images/pal-color-76.png");
}

        
div.palette-73 { 
    background-image: url("../images/pal-color-73.png");
}

        
div.palette-74 { 
    background-image: url("../images/pal-color-74.png");
}

        
div.palette-9999 { 
    background-image: url("../images/pal-color-9999.png");
}

        
div.palette-76 { 
    background-image: url("../images/pal-color-76.png");
}

        
div.palette-77 { 
    background-image: url("../images/pal-color-77.png");
}

        
div.palette-78 { 
    background-image: url("../images/pal-color-78.png");
}

        
div.palette-1039 { 
    background-image: url("../images/pal-color-1039.png");
}

        
div.palette-80 { 
    background-image: url("../images/pal-color-80.png");
}

        
div.palette-81 { 
    background-image: url("../images/pal-color-81.png");
}

        
div.palette-82 { 
    background-image: url("../images/pal-color-82.png");
}

        
div.palette-84 { 
    background-image: url("../images/pal-color-84.png");
}

        
div.palette-85 { 
    background-image: url("../images/pal-color-85.png");
}

        
div.palette-86 { 
    background-image: url("../images/pal-color-86.png");
}

        
div.palette-89 { 
    background-image: url("../images/pal-color-89.png");
}

        
div.palette-92 { 
    background-image: url("../images/pal-color-92.png");
}

        
div.palette-100 { 
    background-image: url("../images/pal-color-100.png");
}

        
div.palette-110 { 
    background-image: url("../images/pal-color-110.png");
}

        
div.palette-112 { 
    background-image: url("../images/pal-color-112.png");
}

        
div.palette-114 { 
    background-image: url("../images/pal-color-114.png");
}

        
div.palette-115 { 
    background-image: url("../images/pal-color-115.png");
}

        
div.palette-1039 { 
    background-image: url("../images/pal-color-1039.png");
}

        
div.palette-118 { 
    background-image: url("../images/pal-color-118.png");
}

        
div.palette-120 { 
    background-image: url("../images/pal-color-120.png");
}

        
div.palette-125 { 
    background-image: url("../images/pal-color-125.png");
}

        
div.palette-129 { 
    background-image: url("../images/pal-color-129.png");
}

        
div.palette-9999 { 
    background-image: url("../images/pal-color-9999.png");
}

        
div.palette-9999 { 
    background-image: url("../images/pal-color-9999.png");
}

        
div.palette-134 { 
    background-image: url("../images/pal-color-134.png");
}

        
div.palette-135 { 
    background-image: url("../images/pal-color-135.png");
}

        
div.palette-137 { 
    background-image: url("../images/pal-color-137.png");
}

        
div.palette-142 { 
    background-image: url("../images/pal-color-142.png");
}

        
div.palette-143 { 
    background-image: url("../images/pal-color-143.png");
}

        
div.palette-148 { 
    background-image: url("../images/pal-color-148.png");
}

        
div.palette-150 { 
    background-image: url("../images/pal-color-150.png");
}

        
div.palette-151 { 
    background-image: url("../images/pal-color-151.png");
}

        
div.palette-158 { 
    background-image: url("../images/pal-color-158.png");
}

        
div.palette-178 { 
    background-image: url("../images/pal-color-178.png");
}

        
div.palette-179 { 
    background-image: url("../images/pal-color-179.png");
}

        
div.palette-1052 { 
    background-image: url("../images/pal-color-1052.png");
}

        
div.palette-183 { 
    background-image: url("../images/pal-color-183.png");
}

        
div.palette-191 { 
    background-image: url("../images/pal-color-191.png");
}

        
div.palette-212 { 
    background-image: url("../images/pal-color-212.png");
}

        
div.palette-216 { 
    background-image: url("../images/pal-color-216.png");
}

        
div.palette-226 { 
    background-image: url("../images/pal-color-226.png");
}

        
div.palette-230 { 
    background-image: url("../images/pal-color-230.png");
}

        
div.palette-232 { 
    background-image: url("../images/pal-color-232.png");
}

        
div.palette-236 { 
    background-image: url("../images/pal-color-236.png");
}

        
div.palette-272 { 
    background-image: url("../images/pal-color-272.png");
}

        
div.palette-288 { 
    background-image: url("../images/pal-color-288.png");
}

        
div.palette-294 { 
    background-image: url("../images/pal-color-294.png");
}

        
div.palette-297 { 
    background-image: url("../images/pal-color-297.png");
}

        
div.palette-308 { 
    background-image: url("../images/pal-color-308.png");
}

        
div.palette-313 { 
    background-image: url("../images/pal-color-313.png");
}

        
div.palette-320 { 
    background-image: url("../images/pal-color-320.png");
}

        
div.palette-321 { 
    background-image: url("../images/pal-color-321.png");
}

        
div.palette-322 { 
    background-image: url("../images/pal-color-322.png");
}

        
div.palette-323 { 
    background-image: url("../images/pal-color-323.png");
}

        
div.palette-326 { 
    background-image: url("../images/pal-color-326.png");
}

        
div.palette-334 { 
    background-image: url("../images/pal-color-334.png");
}

        
div.palette-335 { 
    background-image: url("../images/pal-color-335.png");
}

        
div.palette-1038 { 
    background-image: url("../images/pal-color-1038.png");
}

        
div.palette-366 { 
    background-image: url("../images/pal-color-366.png");
}

        
div.palette-373 { 
    background-image: url("../images/pal-color-373.png");
}

        
div.palette-378 { 
    background-image: url("../images/pal-color-378.png");
}

        
div.palette-379 { 
    background-image: url("../images/pal-color-379.png");
}

        
div.palette-383 { 
    background-image: url("../images/pal-color-383.png");
}

        
div.palette-450 { 
    background-image: url("../images/pal-color-450.png");
}

        
div.palette-462 { 
    background-image: url("../images/pal-color-462.png");
}

        
div.palette-484 { 
    background-image: url("../images/pal-color-484.png");
}

        
div.palette-503 { 
    background-image: url("../images/pal-color-503.png");
}

        
div.palette-1000 { 
    background-image: url("../images/pal-color-1000.png");
}

        
div.palette-1001 { 
    background-image: url("../images/pal-color-1001.png");
}

        
div.palette-1002 { 
    background-image: url("../images/pal-color-1002.png");
}

        
div.palette-1053 { 
    background-image: url("../images/pal-color-1053.png");
}

        
div.palette-1004 { 
    background-image: url("../images/pal-color-1004.png");
}

        
div.palette-1005 { 
    background-image: url("../images/pal-color-1005.png");
}

        
div.palette-1006 { 
    background-image: url("../images/pal-color-1006.png");
}

        
div.palette-1007 { 
    background-image: url("../images/pal-color-1007.png");
}

        
div.palette-1008 { 
    background-image: url("../images/pal-color-1008.png");
}

        
div.palette-1009 { 
    background-image: url("../images/pal-color-1009.png");
}

        
div.palette-1010 { 
    background-image: url("../images/pal-color-1010.png");
}

        
div.palette-1011 { 
    background-image: url("../images/pal-color-1011.png");
}

        
div.palette-1012 { 
    background-image: url("../images/pal-color-1012.png");
}

        
div.palette-1013 { 
    background-image: url("../images/pal-color-1013.png");
}

        
div.palette-1014 { 
    background-image: url("../images/pal-color-1014.png");
}

        
div.palette-1041 { 
    background-image: url("../images/pal-color-1041.png");
}

        
div.palette-1040 { 
    background-image: url("../images/pal-color-1040.png");
}

        
div.palette-1017 { 
    background-image: url("../images/pal-color-1017.png");
}

        
div.palette-1018 { 
    background-image: url("../images/pal-color-1018.png");
}

        
div.palette-1019 { 
    background-image: url("../images/pal-color-1019.png");
}

        
div.palette-1020 { 
    background-image: url("../images/pal-color-1020.png");
}

        
div.palette-1021 { 
    background-image: url("../images/pal-color-1021.png");
}

        
div.palette-1022 { 
    background-image: url("../images/pal-color-1022.png");
}

        
div.palette-1023 { 
    background-image: url("../images/pal-color-1023.png");
}

        
div.palette-1024 { 
    background-image: url("../images/pal-color-1024.png");
}

        
div.palette-1025 { 
    background-image: url("../images/pal-color-1025.png");
}

        
div.palette-1049 { 
    background-image: url("../images/pal-color-1049.png");
}

        
div.palette-1027 { 
    background-image: url("../images/pal-color-1027.png");
}

        
div.palette-1048 { 
    background-image: url("../images/pal-color-1048.png");
}

        
div.palette-1029 { 
    background-image: url("../images/pal-color-1029.png");
}

        
div.palette-1043 { 
    background-image: url("../images/pal-color-1043.png");
}

        
div.palette-1031 { 
    background-image: url("../images/pal-color-1031.png");
}

        
div.palette-1032 { 
    background-image: url("../images/pal-color-1032.png");
}

        
div.palette-1033 { 
    background-image: url("../images/pal-color-1033.png");
}

        
div.palette-1044 { 
    background-image: url("../images/pal-color-1044.png");
}

        
div.palette-1035 { 
    background-image: url("../images/pal-color-1035.png");
}

        
div.palette-1045 { 
    background-image: url("../images/pal-color-1045.png");
}

        
div.palette-1037 { 
    background-image: url("../images/pal-color-1037.png");
}

        
div.palette-1038 { 
    background-image: url("../images/pal-color-1038.png");
}

        
div.palette-1039 { 
    background-image: url("../images/pal-color-1039.png");
}

        
div.palette-1040 { 
    background-image: url("../images/pal-color-1040.png");
}

        
div.palette-1041 { 
    background-image: url("../images/pal-color-1041.png");
}

        
div.palette-1042 { 
    background-image: url("../images/pal-color-1042.png");
}

        
div.palette-1043 { 
    background-image: url("../images/pal-color-1043.png");
}

        
div.palette-1044 { 
    background-image: url("../images/pal-color-1044.png");
}

        
div.palette-1045 { 
    background-image: url("../images/pal-color-1045.png");
}

        
div.palette-1046 { 
    background-image: url("../images/pal-color-1046.png");
}

        
div.palette-1047 { 
    background-image: url("../images/pal-color-1047.png");
}

        
div.palette-1048 { 
    background-image: url("../images/pal-color-1048.png");
}

        
div.palette-1049 { 
    background-image: url("../images/pal-color-1049.png");
}

        
div.palette-1050 { 
    background-image: url("../images/pal-color-1050.png");
}

        
div.palette-1051 { 
    background-image: url("../images/pal-color-1051.png");
}

        
div.palette-1052 { 
    background-image: url("../images/pal-color-1052.png");
}

        
div.palette-1053 { 
    background-image: url("../images/pal-color-1053.png");
}

        
div.palette-1054 { 
    background-image: url("../images/pal-color-1054.png");
}

        
div.palette-1055 { 
    background-image: url("../images/pal-color-1055.png");
}

        
div.palette-1056 { 
    background-image: url("../images/pal-color-1056.png");
}

        
div.palette-1057 { 
    background-image: url("../images/pal-color-1057.png");
}

        
div.palette-1058 { 
    background-image: url("../images/pal-color-1058.png");
}

        
div.palette-9999 { 
    background-image: url("../images/pal-color-9999.png");
}

        